<head>
  <style>
  ul.nav li{
    display: inline-block;
    padding-right: 10px;
    }

  body {
    background: url("https://blogs-images.forbes.com/peterhigh/files/2015/11/RosieTech.jpg");
    }

  img {
        border-radius: 50px;
      }

  #mainheader {
    text-align: center;
    font-family: arial;
    font-size: 55px;
    color: #FFB6C1;
    }

  #welcomepara {
    text-align: center;
    font-family: arial;
    font-size: 30px;
    color: #FFB6C1;
    border-radius: 50px;
    padding: 15px;
    }

  input {
    border: 0;
    padding:10px;
    font-size: 18px;
    }

    input[type="submit"] {
    background: pink;
    color: white;
    }


   </style>
</head>
